name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release_please:
    name: Release Please
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: rust

  build_windows:
    name: Build Windows
    needs: release_please
    if: ${{ needs.release_please.outputs.release_created == 'true' }}
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install Dioxus CLI
        run: cargo binstall dioxus-cli@0.7.2 --no-confirm

      - name: Add cargo bin to PATH
        run: echo "$env:USERPROFILE\.cargo\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Build
        run: dx bundle --platform desktop --release

      - name: Create ZIP archive
        run: |
          cd target/dx/windns/bundle/windows
          Compress-Archive -Path *.exe, "$env:GITHUB_WORKSPACE/LICENSE", "$env:GITHUB_WORKSPACE/README.md" -DestinationPath windns-${{ needs.release_please.outputs.tag_name }}-windows-x64.zip

      - name: Upload Release Artifact
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ needs.release_please.outputs.tag_name }} target/dx/windns/bundle/windows/*.zip
